:root {
  --primary-color: #e76f51;
  --secondary-color: #f8e1db;
  --gray: #d2d2d2;
  --dark: #3b3735;
  --primary-font-md: "Roboto Medium";
  --secondary-font: "Archivo Black";
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto";
  background-color: #faf4f2;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.btn {
  color: #fff;
  background-color: var(--dark);
  border-radius: 10rem;
  width: 18rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: var(--primary-font-md);
}
/* ------------------------------------- start header ------------------------ */
.header {
  min-height: 70rem;
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg") no-repeat center;
  background-size: cover;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.navRetrentive {
  display: flex;
  align-items: center;
}
.appLogo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 4rem;
}
.appLogoImg {
  width: 100%;
  height: 100%;
}
.desktopMenu {
  display: none;
}
.desktopMenuItem {
  margin-right: 1.5rem;
}
.desktopMenuLink {
  color: var(--gray);
  transition: 0.4s;
}
.desktopMenuLink:hover {
  color: #fff;
}
.desktopMenuLinkActive {
  color: #fff;
  position: relative;
  z-index: 1;
}
.desktopMenuLinkActive::before {
  content: "";
  width: 4rem;
  height: 0.4rem;
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 10rem;
  top: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(45deg);
  z-index: -1;
}
.mobileNavMenu {
  position: fixed;
  background-color: var(--dark);
  top: 0;
  left: -25rem;
  bottom: 0;
  width: 25rem;
  padding: 2.5rem;
  transition: 0.4s;
  z-index: 100;
}
.mobileNavMenuOpen {
  left: 0;
}
.mobileNavMenuTitle {
  color: #fff;
  font-size: 2rem;
  font-family: var(--secondary-font);
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.mobileMenu {
  margin-bottom: 3rem;
}
.mobileMenuItem {
  margin-bottom: 1rem;
}
.mobileMenuLink {
  color: #fff;
}
.mobileNavMenuLinks {
  display: flex;
}
.mobileNavMenuLink {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
  display: block;
  flex-grow: 1;
  text-align: center;
}
.desktopNavLinks {
  display: none;
}
.desktopNavLink {
  color: #fff;
  font-family: var(--primary-font-md);
  margin-left: 1.5rem;
}
.desktopNavLinkBorder {
  border: 1px solid #fff;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  transition: 0.4s;
}
.desktopNavLinkBorder:hover {
  background-color: #fff;
  color: var(--dark);
}
.navBtn {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navBtnLine {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  position: relative;
}
.navBtnLine::after,
.navBtnLine::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.4s;
}
.navBtnLine::after {
  top: 0.8rem;
}
.navBtnLine::before {
  bottom: 0.8rem;
}
.navBtnOpen .navBtnLine {
  background-color: transparent;
}
.navBtnOpen .navBtnLine::before {
  transform: translateY(8px) rotate(45deg);
}
.navBtnOpen .navBtnLine::after {
  transform: translateY(-8px) rotate(-45deg);
}
/*  */
.headerContent {
  text-align: center;
  color: #fff;
  margin-top: 6rem;
}
.headerContentTitle {
  font-family: var(--secondary-font);
  font-size: 5rem;
  line-height: 1.2;
  max-width: 35rem;
  margin: 0 auto 3rem auto;
}
.headerContentDescription {
  font-size: 1.8rem;
  max-width: 34rem;
  margin: 0 auto 2rem auto;
}
.headerContentLink {
  background-color: var(--primary-color);
}
.main {
  padding: 4rem 0;
}
.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20rem;
}
.service {
  width: 30rem;
  height: 26rem;
  background-color: #fff;
  border-radius: 2rem;
  text-align: center;
  margin: 0 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  color: var(--dark);
  flex-grow: 1;
}
.serviceImg {
  display: block;
}
.serviceTitle {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin: 1.5rem 0 0.6rem 0;
}

/* -----------------------------locations--------------------------- */
.locations {
  text-align: center;
  padding: 6rem 0;
  color: var(--dark);
  position: relative;
}
.locations::after,
.locations::before {
  content: "";
  position: absolute;
  width: 60rem;
  height: 60rem;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}
.locations::after {
  background-image: url("../images/svgs/shape1.svg");
  top: -10rem;
  right: -45rem;
}
.locations::before {
  background-image: url("../images/svgs/shape2.svg");
  left: -45rem;
  bottom: 40rem;
}
.locationsLogo {
  width: 8rem;
  height: 8rem;
}
.locationsTitle {
  font-family: var(--secondary-font);
  font-size: 3rem;
  max-width: 36rem;
  margin: 3rem auto;
}
.locationsPlaces {
  display: flex;
  flex-wrap: wrap;
}
.location {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  margin: 0 1rem 2rem 1rem;
  width: 30rem;
  flex-grow: 1;
  overflow: hidden;
}
.locationBanner {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  height: 18rem;
}
.locationImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.locationLike {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.locationPrice {
  background-color: #fff;
  position: absolute;
  bottom: -0.8rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 12rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}
.locationPriceText {
  color: var(--primary-color);
  font-family: var(--primary-font-md);
  text-align: center;
}
.locationTitle {
  font-family: var(--secondary-font);
  margin: 3rem 0 0.5rem 0;
  font-size: 1.8rem;
}
.locationDescription {
  margin-bottom: 3rem;
}
.locationLink {
  color: #8d8d8d;
  background-color: rgba(141, 141, 141, 0.1);
}
.locationbtn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  margin-top: 3rem;
  transition: 0.4s;
}
.locationbtn:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.connections {
  background-color: var(--secondary-color);
  border-radius: 2rem;
  color: var(--dark);
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  margin: 6rem 0;
  position: relative;
  overflow: hidden;
}
.connections::before{
  content: '';
  position: absolute;
  background: url("../images/svgs/shape3.svg") no-repeat;
  width: 50rem;
  /* width: 62%; */
  height: 50rem;
  background-size: contain;
  bottom: 0;
  right: 0;
  top: 15rem;
  left: -15rem;

}
.conectionscontent , .conectionsbanner {
  z-index: 2;
}
.conectionstitle {
  font-family: var(--secondary-font);
  font-size: 3rem;
  margin: 1.5rem;
  margin: 1.5rem auto;
}
.conectionscaption {
  font-family: var(--primary-font-md);
}
.conectionsimgbox {
  position: relative;
  background-color: #fff;
  height: 8rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
.conectionsform {
  height: 100%;
  display: flex;
  align-items: center;
}
.conectionsemailicon {
  flex-shrink: 0;
}
.conectionsinput {
  height: 100%;
  border: none;
  outline: none;
  color: #8d8d8d;
  background-color: #fff;
  width: 100%;
  padding: 0 1rem;
  font-size: 1.6rem;
}
.conectionssubmit {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(231, 111, 81, 0.40);
  cursor: pointer;
}
.conectionsbanner {}
.conectionsimg {
    width: 100%;
}
/* -----------------------------------footer------------------------------------ */
.footer{
  background-color: var(--secondary-color);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  color: var(--dark);
  padding-bottom: 4rem;
}
.footer>.container{
  position: relative;
  padding-top: 10rem;
}
.scroll{
width: 5rem;
height: 5rem;
background-color: #fff;
border-radius: 2rem;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
right: 0;
top: -2.5rem;
left: 0;
margin: 0 auto;
box-shadow: 0px 0px 10px 0px rgba(59, 55, 53, 0.05);
}
.footercontainer{

}
.footrecontent{
  margin-bottom: 2rem;
}
.footertitle{
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footercontentdescription{}
.footerapplication{
  display: none;
}
.footerapplicationlink{}
.frightsection{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.footercolum{
  width: 16rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.footerlist{}
.footerlistitem{}
.footerlistlink{
  color: var(--dark);
}
.footerapplicationmobile{
  display: block;
}